<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: rgb(242, 94, 94)"> Loading... </p>
</ngx-spinner>
<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-7 px-0 d-none d-sm-block">
      <div class="left-img" style="background-image: url(assets/images/auth-image/sign_in_img.jpg);"></div>
    </div>
    <div class="col-sm-5 auth-form-section">
      <button class="btn float-end" routerLink="/authentication/signin"><b>Log In</b></button><br><br>
      <!-- <div class="form-section"> -->
      <!-- <div class="auth-wrapper"> -->

      <div class="text-center">
        <img src="assets/images/auth-image/fth-logo.png" height="170px" width="260px" alt="Main_logo of FTH">
      </div>
      <br><br>
      <!-- Title -->
      <h4 class="welcome-msg mb-5 text-center">{{ mobileVerified ? 'Set New Password' : 'Reset Password' }}</h4>

      <!-- OTP Sending Section -->
      <form *ngIf="!otpSend" [formGroup]="mobForm" (ngSubmit)="onSubmitMobForm()">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 mb-2">
                <h6 class="header">How do you want to receive the code to reset your password?</h6>
    
                <!-- Radio buttons for email/mobile -->
                <div class="border1">
                    <input type="radio" formControlName="username" value="{{userDetails?.email}}" id="email"
                        class="form-check-input mt-1">
                    <label class="ps-2" for="email"><b>{{ maskEmail(userDetails?.email) }}</b></label>
                </div>
                
                <div class="border1">
                    <input type="radio" formControlName="username" value="{{userDetails?.mobileNumber}}" id="mobile"
                        class="form-check-input mt-1">
                    <label class="ps-2" for="mobile"><b>{{ maskMobNo(userDetails?.mobileNumber) }}</b></label>
                </div>
            </div>
        </div>
    
        <!-- OTP Button -->
        <div class="col-12 text-center">
            <button type="submit" class="btn login-btn">Send OTP</button>
        </div>
    </form>
    

      <!-- OTP Form -->
      <form *ngIf="otpSend && !showPasswordForm" [formGroup]="otpForm" (ngSubmit)="verifyOtpForm()">
        <div class="row mb-4 justify-content-center">
          <div class="col-sm-8">
            <label for="otp"><b>Enter 6-digit OTP</b></label>
            <div class="otp-input mt-4">
              <input type="text" id="otp1" maxlength="1" (input)="onOtpChange(0, $event)"
                class="form-control otp-box" />
              <input type="text" id="otp2" maxlength="1" (input)="onOtpChange(1, $event)"
                class="form-control otp-box" />
              <input type="text" id="otp3" maxlength="1" (input)="onOtpChange(2, $event)"
                class="form-control otp-box" />
              <input type="text" id="otp4" maxlength="1" (input)="onOtpChange(3, $event)"
                class="form-control otp-box" />
              <input type="text" id="otp5" maxlength="1" (input)="onOtpChange(4, $event)"
                class="form-control otp-box" />
              <input type="text" id="otp6" maxlength="1" (input)="onOtpChange(5, $event)"
                class="form-control otp-box" />
            </div>
          </div>
        </div>
        <div class="col-12 text-center">
          <button type="submit" class="btn login-btn">Verify OTP</button>
        </div>
      </form>

      <!-- Password Form -->
      <form *ngIf="showPasswordForm" [formGroup]="passwordForm" (ngSubmit)="onSubmitPasswordForm()">
        <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 mb-2">
            <label for="pass" class="form-label">Password<span class="required">*</span></label>
            <div class="d-flex form-control py-0" style="height: 36px;">
              <input [type]="hide ? 'password' : 'text'" class="form-control shadow-none border-0 p-0"
                formControlName="password">
              <mat-icon class="material-icons-outlined pwd-toggle form-control border-0 ps-1 pb-3" matSuffix
                (click)="hide = !hide">
                {{ hide ? 'visibility_off' : 'visibility' }}
              </mat-icon>
            </div>
            <div *ngIf="passwordForm.get('password')?.touched && passwordForm.get('password')?.invalid"
              class="text-danger">
              <div *ngIf="passwordForm.get('password')?.errors?.['required']">Password is required.
              </div>
              <div *ngIf="passwordForm.get('password')?.errors?.['minlength']">Password must be at
                least 8 characters long.</div>
                <mat-error *ngIf="!passwordForm.get('password')?.hasError('required') && !passwordForm.get('password')?.hasError('minlength') && passwordForm.get('password')?.hasError('strongPassword')">Password must contain at least one number, one uppercase letter, and one lowercase letter</mat-error>
            </div>
          </div>

          <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 mb-2">
            <label for="confirmPass" class="form-label">Confirm Password<span class="required">*</span></label>
            <div class="d-flex form-control py-0" style="height: 36px;">
              <input [type]="c_hide ? 'password' : 'text'" class="form-control shadow-none border-0 p-0"
                formControlName="confirmPassword">
              <mat-icon class="material-icons-outlined pwd-toggle form-control border-0 ps-1 pb-3" matSuffix
                (click)="c_hide = !c_hide">
                {{ c_hide ? 'visibility_off' : 'visibility' }}
              </mat-icon>
            </div>
            <div *ngIf="passwordForm.get('confirmPassword')?.touched && passwordForm.get('confirmPassword')?.invalid"
              class="text-danger">
              <div *ngIf="passwordForm.get('confirmPassword')?.errors?.['required']">Confirm
                Password is required.</div>
              <div *ngIf="passwordForm.get('confirmPassword')?.errors?.['mustMatch']">Passwords
                must match.</div>
            </div>
          </div>

          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center">
            <!-- @if(!(submitted && passwordForm.get('password')?.errors)){ -->
            <p class="mb-0" style="color:#864f20;">
              Create a Strong password (ex.Abcd$123)
            </p>
            <!-- } -->
            <button class="btn submit-btn" type="submit">Reset Password</button>
          </div>
        </div>
      </form>

      <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>