<section class="content">
    <div class="content-block">
        <div class="mt-4 p-0 d-flex align-items-center">
            <button class="btn text-start" (click)="navigateFun()">
                <i class="bi bi-arrow-left-circle h4"></i>
            </button>
            <div class="ms-auto">
                <button class="btn btn-success" (click)="printChallan()">Download</button>
            </div>
        </div>

        <div id="challan" class="challan-container card my-2">
            <div class="header">
                <div class="logo">
                    <img [src]="challan.logoUrl" alt="Company Logo">
                </div>
                <div class="company-info ms-4">
                    <h1>{{ challan.customerName }}</h1>
                    <p>{{ challan.customerDetails }}</p>
                    <p style="width: 550px;">{{ challan.customerAddress }}</p>
                    <p>{{ challan.customerPhone }} || {{ challan.customerEmail}}</p>
                    <p class="mb-2">GSTIN : {{ challan.customerGSTIN }}</p>
                </div>
            </div>

            <section class="gstin my-0">

                <!-- <h2>DELIVERY CHALLAN</h2> -->
                <h2>RETURN ORDER</h2>
            </section>
            <div class="">
                <h5 class="mb-0">TO,</h5>
                <hr class="my-1">
            </div>

            <section class="customer-details">
                <div class="customer-info">
                    <p><strong>M/S :</strong> <span>{{ challan.companyName }}</span></p>
                    <p><strong>Name :</strong> <span>{{ challan.companyDetails }}</span></p>
                    <p><strong>Phone :</strong> <span>{{ challan.companyContact }}</span></p>
                    <p><strong>GSTIN :</strong> <span>{{ challan.companyGSTIN }}</span></p>
                    <p><strong>Email :</strong> <span>{{ challan.companyEmail }}</span></p>
                    <p><strong>Address :</strong> <span>{{ challan.companyAddress }}</span></p>
                </div>
                <div class="challan-info">
                    <p><strong>Delivery Challan No :</strong> <span>{{ challan.challanNo }}</span></p>
                    <!-- <p><strong>PO No :</strong> <span>{{ challan.pONumber }}</span></p> -->
                    <p><strong>Date :</strong> <span>{{ challan.challanDate| date:'dd/MM/yyyy' }}</span></p>
                    <p><strong>E-Way Bill No :</strong> <span>{{ challan.eWayNo }}</span></p>
                    <p><strong>Transport Type :</strong> <span>{{ challan.transportType }}</span></p>
                    <span *ngIf="challan.transportType == 'By Road'">
                        <p><strong>Lorry Receipt No :</strong> <span>{{ challan.lrNo }}</span></p>
                        <p><strong>Transport :</strong> <span>{{ challan.transport }}</span></p>
                        <p><strong>Vehicle Number :</strong> <span>{{ challan.vehicleNumber }}</span></p>
                    </span>
                    <span *ngIf="challan.transportType == 'By Air' || challan.transportType == 'By Ship'">
                        <p><strong>Receipt No :</strong> <span>{{ challan.lrNo }}</span></p>
                        <p><strong>Transport :</strong> <span>{{ challan.transport }}</span></p>
                    </span>
                    <span *ngIf="challan.transportType == 'By Courier'">
                        <p><strong>Tracking No :</strong> <span>{{ challan.lrNo }}</span></p>
                        <p><strong>Transport :</strong> <span>{{ challan.transport }}</span></p>
                    </span>
                </div>
            </section>

            <div class="text-center">
                <h5 class="mb-0"><u>PRODUCT DETAILS</u></h5>
            </div>
            <hr class="my-1">

            <section class="order-details">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Design No.</th>
                            <th>Design Title</th>
                            <th>Quantity</th>
                            <th>Rate</th>
                            <th>Amount</th>
                            <th>Issue</th>
                            <th>Sub Issue</th>
                            <!--  <th>GST</th> -->
                            <!-- <th>Total</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of challan.products">
                            <td>{{ product.srNo }}</td>
                            <td>{{ product.designNo }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.qty }}</td>
                            <td>{{ product.rate }}</td>
                            <td>{{ product.taxableValue }}</td>
                            <td>{{ product.issue }}</td>
                            <td>{{ product.subIssue }}</td>
                            <!-- <td>{{ product.gst }}</td>
                            <td>{{ product.total }}</td> -->
                        </tr>
                    </tbody>
                    <!-- <tfoot>
                        <tr>
                            <th colspan="5" class="text-end">Total Amount</th>
                            <th>{{ challan.totalRate }}</th>
                            <th>{{ challan.totalGST }}</th>
                            <th>{{ challan.totalAmount }}</th>
                        </tr>
                    </tfoot> -->
                </table>
            </section>

            <section class="totals d-flex justify-content-between">
                <div class="total-amount">
                    <p><strong>Sub Total : </strong> <span>{{ challan.totalRate }}</span></p>
                    <!-- <p><strong>Discount Amount : </strong> <span>{{ challan.discount }}</span></p> -->
                    <!-- <p><strong>Total : </strong> <span>{{ challan.totalRate - challan.discount }}</span></p> -->
                    <p><strong>Total : </strong> <span>{{ challan.totalRate }}</span></p>
                    <!-- <p><strong>Total GST : </strong> <span>{{ challan.totalGST }}</span></p> -->
                    <!-- <p><strong>Total Amount After Tax : </strong> <span>{{ challan.totalAmount }}</span></p> -->
                </div>
                <div class="total-amount">
                    <p><strong>Roundoff Total Amount : </strong> <span class="fw-bold ">{{ challan.roundedOffTotal
                            }}</span></p>
                    <p><strong>Total Amount in Words : </strong> <span class="fw-bold "><u>{{ challan.totalInWords
                                }}</u></span></p>
                </div>
            </section>

        </div>
        <div class="text-center my-3">
            <button class="btn btn-success" (click)="generateDC(challan)">Generate Return Order</button>
        </div>
    </div>
</section>