<section class="content">
    <div class="content-block">
      <h4 class="mt-4">View Products</h4>
      <div class="card p-4">
        <!-- <div class="search-bar">
          <select name="" class="form-select" [(ngModel)]="filters.brand">
            <option value="">Select Brand</option>
            <option *ngFor="let brand of allBrand" [value]="brand.brandName">{{brand.brandName}}</option>
          </select>
          <select name="" class="form-select" [(ngModel)]="filters.productType" (change)="getAllSubCategory()">
            <option value="">Select Product Type</option>
            <option *ngFor="let type of allProductType" [value]="type">{{type}}</option>
          </select>
          <select name="" class="form-select" [(ngModel)]="filters.gender" (change)="getAllSubCategory()">
            <option value="">Select Gender</option>
            <option *ngFor="let gender of allGender" [value]="gender">{{gender}}</option>
          </select>
          <select name="" class="form-select" [(ngModel)]="filters.clothing" (change)="getAllSubCategory()">
            <option value="">Select Clothing</option>
            <option *ngFor="let clothing of allClothingType" [value]="clothing">{{clothing}}</option>
          </select>
          <select name="" class="form-select" [(ngModel)]="filters.subCategory">
            <option value="">Select Sub-Category</option>
            <option *ngFor="let subCategory of allSubCategory" [value]="subCategory">{{subCategory}}</option>
          </select>
          <button class="btn btn-info" (click)="getAllProducts(this.mnfEmail)">Display</button>
        </div>
        <hr> -->
        <div class="cards-container">
          <div *ngFor="let product of products" class="product-card" (mouseenter)="onMouseEnter(product)" (mouseleave)="onMouseLeave(product)">
            <div class="design-no">Design No : {{product.designNo}}</div>
            <div class="image-carousel">
              <img class="main-img" [src]="authService.cdnPath + product.selectedImageUrl" alt="{{product.title}}" [routerLink]="['/wholesaler/product/view-Product',{id: product.id}]">
              <div class="carousel-dots">
                <span *ngFor="let img of product.selectedImageUrls; let i = index" [class.active]="i === product.hoverIndex" (click)="navigateToImage(product, i)"></span>
              </div>
            </div>
            <div class="product-details">
              <div class="color-options mt-0">
                <button *ngFor="let color of product.colors"
                        [ngStyle]="{'background-color': color, 'border': color === '#FFFFFF' ? '1px solid #000' : 'none'}"
                        [class.active]="product.selectedColor === color" [disabled]="disableImage(product,color)" 
                        (click)="changeProductImage(product, color)">
                </button>
              </div>
              <h6 class="title" [routerLink]="['/wholesaler/product/view-Product',{id: product.id}]">{{product.title}}</h6>
              <p>{{product.description}}</p>
              <div class="availability">
                <span *ngIf="product.stock > 0" class="in-stock">In stock - Qty {{product.stock}}</span>
                <span *ngIf="product.stock === 0" class="out-of-stock">Out of stock</span>
              </div>
            </div>
          </div>
        </div>
        <p-paginator *ngIf="products && products.length > 0" (onPageChange)="onPageChange($event)"
          [first]="first" [rows]="rows" [totalRecords]="totalResults"
          [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
      </div>
    </div>
  </section>
  