/* distributors.component.scss */

::ng-deep .p-datatable,
.btn {
  font-size: 13px !important;
  /* Set your desired font size */
}

::ng-deep .p-datatable-header,
.p-datatable-thead>tr>th,
.p-datatable-tbody>tr>td {
  text-align: center;
  /* Center align text in table headers and cells */
}
::ng-deep .p-tooltip-text{
  font-size: 10px !important;
}

.pagination-container{
  text-align: center;
    margin-top: auto;
}

