<section class="content">
    <div class="content-block">
        <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff" type="square-jelly-box"
            [fullScreen]="true">
            <p style="color: rgb(242, 94, 94)"> Sending Invitation By Mail ... </p>
        </ngx-spinner>

        <h4 class="mt-4"><i class="bi bi-person-vcard-fill h3"></i> Invite New Retailer</h4>
        <div class="ads-flex">
            <div class="flex-grow-1">
                <div class="registration-form p-3 mt-0 mb-4">
                    <form [formGroup]="mgfRegistrationForm" (ngSubmit)="onSubmit()">
                        <div class="d-flex">
                            <h5>Invite Single Retailer</h5>
                            <div class="ms-auto navigation-link-log">
                                <div type="button" class="" routerLink="/wholesaler/bulk-invite">Invite Bulk Retailer's List</div>
                            </div>
                        </div>
                        <div class="row ms-4">

                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                                <label class="lable-input" for="fullName"> Retailer Name<span>*</span>:</label>
                                <input type="text" id="fullName" formControlName="fullName" class="form-control"
                                    placeholder="Full Name" />
                                <div *ngIf="mgfRegistrationForm.get('fullName')?.touched && mgfRegistrationForm.get('fullName')?.invalid"
                                    class="text-danger">
                                    Full Name is required.
                                </div>
                            </div>

                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                                <label class="lable-input" for="companyName">Company/Firm Name<span>*</span>:</label>
                                <input type="text" id="companyName" formControlName="companyName" class="form-control"
                                    placeholder="Company Name" />
                                <div *ngIf="mgfRegistrationForm.get('companyName')?.touched && mgfRegistrationForm.get('companyName')?.invalid"
                                    class="text-danger">
                                    Company/Firm Name is required.
                                </div>
                            </div>

                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                                <label class="lable-input" for="role">Designation<span>*</span>:</label>
                                <select formControlName="role" class="form-select" placeholder="Select Designation">
                                    <option value="">Select Designation</option>
                                    <option value="retailer">Retailer</option>
                                </select>
                                <div *ngIf="mgfRegistrationForm.get('role')?.touched && mgfRegistrationForm.get('role')?.invalid"
                                    class="text-danger">
                                    Designation is required.
                                </div>
                            </div>

                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                                <div class="row">
                                    <!-- Email Address Field -->
                                    <div class="col-md-6">
                                        <label class="lable-input" for="email">Email Address<span>*</span>:</label>
                                        <input type="text" id="email" formControlName="email" class="form-control" placeholder="Email Address"/>
                                        <div *ngIf="mgfRegistrationForm.get('email')?.touched && mgfRegistrationForm.get('email')?.invalid" class="text-danger">
                                            <div *ngIf="mgfRegistrationForm.get('email')?.errors?.['required']">Email is required.</div>
                                            <div *ngIf="mgfRegistrationForm.get('email')?.errors?.['email']">Invalid email format.</div>
                                        </div>
                                    </div>
                                    
                                    <!-- Mobile Number Field -->
                                    <div class="col-md-6">
                                        <label class="lable-input" for="mobileNumber">Mobile Number<span>*</span>:</label>
                                        <div class="d-flex">
                                            <mat-form-field appearance="outline" class="me-3">
                                                <mat-select formControlName="code">
                                                    <mat-option *ngFor="let country of countryCode" [value]="country.code">
                                                        <img [src]="country.flag" alt="{{ country.countryName }}" class="country-flag" />{{ country.code }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <input type="number" id="mobileNumber" formControlName="mobileNumber"
                                                   placeholder="Number" class="form-control w-75" />
                                        </div>
                                        <div *ngIf="mgfRegistrationForm.get('mobileNumber')?.touched && mgfRegistrationForm.get('mobileNumber')?.invalid" class="text-danger" style="margin-top: -22px;">
                                            <div *ngIf="mgfRegistrationForm.get('mobileNumber')?.errors?.['required']">Mobile number is required.</div>
                                            <div *ngIf="mgfRegistrationForm.get('mobileNumber')?.errors?.['pattern']">Mobile number must be 10 digits.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            

                            <div class="col-8 text-center ">
                                <button type="submit" class="btn submit-btn"
                                    [disabled]="mgfRegistrationForm.invalid">Invite</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Right-Side Ads Container -->
            <div class="ads-right mt-0">
                <app-right-side-advertise [imageUrls]="rightAdImages"></app-right-side-advertise>
            </div>
        </div>

        <!-- Bottom-Side Ad Container -->
        <div class="ads-bottom mb-3">
            <app-bottom-side-advertise [imageUrl]="bottomAdImage"></app-bottom-side-advertise>
        </div>

    </div>
</section>