<app-header></app-header>
<app-sidebar></app-sidebar>
<app-right-sidebar></app-right-sidebar>
<div [dir]="direction">
  <router-outlet></router-outlet>
</div>
<!-- @if(userProfile.role == 'manufacture'){
}
@else{
<div class="main-container">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="ads-right">
    <div class="right-ads-content">
      <div class="ad-banner">
      
        <p class="text-dark">Right Side Ad 1</p>
      </div>
      <div class="ad-banner">
      
        <p class="text-dark">Right Side Ad 2</p>
      </div>
    </div>
  </div>
  <div class="ads-bottom">
    <div class="bottom-ads-content">
      <div class="ad-banner">
       
        <p class="text-dark">Bottom Ad</p>
      </div>
    </div>
  </div>
</div>
} -->